<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ name }}</title>
    <style>
      body,html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app"  style="height:100%"></div>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript">

    apiready = function () {

    api.addEventListener({name: 'smartupdatefinish'}, function (ret, err) {
      api.rebootApp();
  });
  var str = navigator.language ;
  // 中文的处理
  if(str.substring(0,2) == 'zh' && api.deviceModel.substring(0,4) != 'iPad'){
      setTimeout(function(ret){
        api.removeLaunchView({
                animation: {
                    type: 'fade',
                    duration: 500
                }
            });
      },3000);
  } else{
    api.removeLaunchView({
      animation: {
          type: 'fade',
          duration: 500
      }
    });
  }
}
  </script>
</html>
