<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <style type="text/css">
        html,body {background-color: #fff;}
    </style>
</head>
<body>

</body>
<script type="text/javascript" src="./mu/api.js"></script>
<script type="text/javascript" src="./mu/mode.js"></script>
<script type="text/javascript">
    var nomal_url = "widget://index.html";
    apiready = function() {
        api.addEventListener({name: 'smartupdatefinish'}, function (ret, err) {
            api.rebootApp();
        });

        // 获取配置:
        api.setStatusBarStyle({style: 'dark'});
        api.setFullScreen({fullScreen: true});
        api.setKeepScreenOn({keepOn: true});
        
        // 获取当前设备
        var str = navigator.language ;
        // 中文的处理
        if(str.substring(0,2) == 'zh'){
            if(api.deviceModel.substring(0,4) == 'iPad') {
                openNomal();
            } else{
                api.showProgress({
                    title: '加载中',
                    text: '请稍等...',
                    modal: false
                });
                checkUp();
            }
        } else {
            openNomal();
        }
    }

    function  openNomal() {
        api.removeLaunchView({
            animation: {
                type: 'fade',
                duration: 500
            }
        });
        api.openFrame({
            name: 'k63',
            url: nomal_url,
            allowEdit:true,
            useWKWebView:true,
            historyGestureEnabled:true,
            bounces:false,
            rect: {
                x: 0,
                y: 0,
                w: 'auto',
                h: 'auto'
            },
        });
    }
</script>
</html>
